@import "variables.scss";
@import "header/header.scss";
@import "form/form.scss";
@import "search/search.scss";
@import "footer/footer.scss";
@import "infofooter/infofooter.scss";
@import "home/middlehomesection.scss";
@import "home/homepage.scss";

@import "booking/booking.scss";

@import "rental/rental-listing.scss";
@import "rental/rental-detail.scss";
@import "rental/rental-manage.scss";
@import "editable/editable-component.scss";

@import "search/search.scss";
@import "footer/footer.scss";
@import "infofooter/infofooter.scss";
@import "home/middlehomesection.scss";
@import "home/homepage.scss";
@import "comingsoon/comingsoon.scss";
@import "loading/loading.scss";
@import "aboutus/about-us.scss";

.clickable {
    &:hover {
        cursor: pointer;
    }
}

.page-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.apartment {
    color: #a72da3;
}

.house {
    color: #bf1818;
}

.condo {
    color: #d68000;
}

// I will move this to respective place soon.

.btn-bwm {
    background-color: $main-color;
    border-color: $main-color;
    color: $main-white-color;
    // padding: 15px 30px;
    // font-size: 20px;

    &:hover,
    &:focus,
    &:active {
        border-color: $main-color !important;
        background-color: $main-color !important;
    }

    .btn-map {
        margin: 5px;
    }
}

.displayImg {
    // border: 3px solid $light-gray-color;
    border-radius: 4px;
    margin-top: 10px;
}

.user-image {
    max-width: 100px;
}

.collap {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.Collapsible__contentInner {
    margin-right: 0 !important;
}

.review-section {
    float: right;
}

.review-card {
    margin-bottom: 15px;
}

.review-image {
    max-width: 50px;
}

.review-image-container {
    float: left;
}