button {
    outline: none;
    cursor: pointer;
}

.mainContainer {
    // max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    // margin: 0, 0;


}

.slick-slide img { margin-left: auto; margin-right: auto; }

.line {
    border: 1px solid $light-gray-color;
    opacity: 0.2;
    border-radius: 5px;
}

.textTitle {
    margin-top: 40px;
    margin-bottom: 0;
}

.text {
    text-align: center;
    margin-bottom: 0;
    color: $main-color;
}

.homesAvailable,
.highestPriced,
.mostSquareFootage,
.mostRecent {
    text-align: center;
    color: $light-gray-color;
    font-weight: 500;
    font-size: 15px;
}

.seeMoreContainer {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.seeMoreListing {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 400;
    color: $main-white-color;
    background: $main-color;
}

.houseList {
    border: 1px solid #ddd;
    // margin-left: 50px;
    // margin-right: 50px;
  border-radius: 4px;
  padding: 5px;
  width: 330px;

}

.mainBlock {
position: relative;
text-align: center;
}

// .detailList {
//     position: absolute;
//     bottom: 8px;
//     left: 16px;
// }
  


.main-title {
    font-size: 19px;
    margin: 3px 0;
    color: $main-text-gray-color;
}

.main-detail {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.main-price {
    font-size: 14px;
    font-weight: 300;
    color: #7e7e7e;
    margin-bottom: 0;
}



houseList:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

