.input-group.md-form.form-sm.form-1 input{
    border: 1px solid $main-color;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    }

    #search-size{
        width: 40%;
    }

    @media screen and (max-width: 900px) {
        #search-size{
            width: 90%;
        }

    }

    #basic-text1 {
        background-color: $main-color;
    }