#rentalListing {
    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .rental-detail-link {
      &:hover {
        text-decoration: none;
      }
    }
  
    /* SINGLE CARD STYLES*/
    .bwm-card {
      border: none;
      margin-bottom: 20px;
  
      .card-block {
        padding-top: 8px;
  
        .card-subtitle {
          margin: 0;
          font-weight: 500;
          font-size: 12px;
          text-transform: uppercase;
        }
  
        .card-title {
          font-size: 19px;
          margin: 3px 0;
          color: $main-text-gray-color;
        }
  
        .card-text {
          font-size: 14px;
          font-weight: 300;
          color: #7e7e7e;
          margin-bottom: 0;
        }
    }
    }
  }
  
  @media screen and (min-width: 900px) {
    .wideView {
      width: 100vw;
      height: 100vh;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding: 10px 50px;
      margin-bottom: 100px;
    }
    .homesFlow {
      // background-color:red;
      overflow: auto;
      height: 100vh;
      margin: 10px 0;
      // padding: 100px;
    }
  
    .mapsFlow {
      height: 100vh;
      margin: 10px 0;
      // background-color:lightgray;
    }

  }



  @media screen and (max-width: 900px) {
    // .wideView {
    //   height: 110vh;
    // }
    .mapsFlow {
      display: none;
    }
  }

