#rentalListing {
    .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .rental-detail-link {
      &:hover {
        text-decoration: none;
      }
    }
    
    // .card-img-top {
    //   position: relative;
    //   display: inline-block;
    // }

    // .card-img-top .card-text {
    //   position: absolute;
    //   z-index: 999;
    //   margin: 0 auto;
    //   left: 0;
    //   right: 0;
    //   top: 40%; /* Adjust this value to move the positioned div up and down */
    //   text-align: center;
    //   width: 60%;
    // }
  
    /* SINGLE CARD STYLES*/
    .bwm-card {
      border: none;
      margin-bottom: 20px;

      .card-text-lg {
        font-size: 20px;
        font-weight: 500;
        color: $main-white-color;
        margin-bottom: 0;
        margin-top: -30px;
        background-color: rgba($color: $main-color, $alpha: 0.8);
      }

  
      .card-block {
        padding-top: 8px;
  
        .card-subtitle {
          margin: 0;
          font-weight: 600;
          font-size: 15px;
          text-transform: uppercase;
        }
  
        .card-title {
          font-size: 19px;
          margin: 3px 0;
          color: $main-text-gray-color;
        }
  
        .card-text {
          font-size: 15px;
          font-weight: 400;
          color: #7e7e7e;
          margin-bottom: 0;
        }
    }
    }
  }
  
  @media screen and (min-width: 900px) {
    .wideView {
      width: 100vw;
      // height: 100vh;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding: 10px 50px;
      margin-bottom: 100px;
    }
    .homesFlow {
      // background-color:red;
      overflow: auto;
      height: 100vh;
      margin: 10px 0;
      // padding: 100px;
    }
  
    .mapsFlow {
      height: 100vh;
      margin: 10px 0;
      // background-color:lightgray;
    }

  }



  @media screen and (max-width: 900px) {
    // .wideView {
    //   height: 110vh;
    // }
    .mapsFlow {
      display: none;
    }
  }

